*.apikey
*.kate-swp
*.mkv
*.mp3
*.mp4
*.webm
.chromium-browser/
.idea/
.venv/
.~lock*
__pycache__/
client_secret.json
/audio
/video
/extracts
/tmp
/test-youtube-to-text.py.log
/test_download_from_youtube.py.log
