[Desktop Entry]
Icon=text-html
Name=Crises Will 'Deepen' As 'Fourth Turning' Hits, What Happens To Markets? | Darius Dale-CtApo7dpII0
Type=Link
URL[$e]=https://www.youtube.com/watch?v=CtApo7dpII0
