[Desktop Entry]
Icon=text-html
Name=He Made $500,000 from Faceless YouTube Channels in 90 Days
Type=Link
URL[$e]=https://www.youtube.com/watch?v=ZUHsAlKcMOM
