[Desktop Entry]
Icon=text-html
Name=\n\n\nSkip navigation\nSearch\n\n\n\nCreate\n\n8\n\nAvatar image\nI Bought 5 Million YouTube Views… Here’s what happened
Type=Link
URL[$e]=https://www.youtube.com/watch?v=QZmnju-fPoo
