[Desktop Entry]
Icon=text-html
Name=Investors' Principles of Silicon Valley Taught in Stanford MBA | Ilya Strebulaev
Type=Link
URL[$e]=https://www.youtube.com/watch?v=Q3EE-V-cMog
