[Desktop Entry]
Icon=text-html
Name=Trump Lawyer Enters SECRET SETTLEMENT for DIRTY DEEDS
Type=Link
URL[$e]=https://www.youtube.com/watch?v=EomCJcQ-bxw
