[Desktop Entry]
Icon=text-html
Name=why you should start a YouTube channel in 2025 (even if nobody watches)
Type=Link
URL[$e]=https://www.youtube.com/watch?v=YU3d5qYHEHI
